$image-gap: 32px;

.about-us {
  padding: 30px 0 100px 0;
}

.about-us__title {
  margin-bottom: 14px;
}

.about-us__description {
  margin: 0 0 45px;
}

.employee-container {
  padding-right: 32px;
}

.employee {
  display: flex;
  position: relative;
  width: calc(30% - $image-gap);
  align-items: center;
  width: 345px;
  height: 141px;

}

.employee__content {
  padding-left: 35px;
}

.employee__name {
  margin: 0;
}
.employee__title {
  @include font($size: 1.4rem, $weight: 400, $height: 2.6rem);
  margin: 0;
}
.employee__contact {
  @include font($size: 1.4rem, $weight: 400, $height: 2.6rem);
  color: $color-link;
  &:hover {
    text-decoration: underline;
  }
}

.employee__photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  right: -$image-gap;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}